In [1]:
import pandas as pd

In [2]:
old = pd.read_csv("../data/2017.csv")

In [8]:
df = pd.read_csv("../data/cleaned_flights_with_weather.csv")

In [9]:
df["fl_date"] = pd.to_datetime(df["fl_date"])
df.sort_values(by="fl_date")

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,lat,lng,Type,Severity,Precipitation(in)
88009,2018-01-01,UA,UA,UA,380,UA,N69818,380,13204,MCO,...,0.0,0.0,0.0,0.0,0.0,28.4773,-81.3370,Rain,Light,0.08
97338,2018-01-01,WN,WN,WN,1518,WN,N7737E,1518,13204,MCO,...,0.0,0.0,25.0,0.0,0.0,28.4773,-81.3370,Rain,Light,0.08
1919,2018-01-01,UA,UA_CODESHARE,UA,3857,ZW,N436AW,3857,11721,FNT,...,6.0,0.0,0.0,0.0,111.0,43.0236,-83.6921,Other,None,0.00
18867,2018-01-01,AA,AA,AA,1677,AA,N832AW,1677,11057,CLT,...,0.0,0.0,0.0,0.0,0.0,35.2083,-80.8303,Other,None,0.00
1354,2018-01-01,WN,WN,WN,1191,WN,N910WN,1191,10800,BUR,...,0.0,0.0,0.0,0.0,0.0,34.1879,-118.3235,Fog,Moderate,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83328,2019-12-31,AA,AA_CODESHARE,AA,4757,PT,N639AE,4757,14100,PHL,...,0.0,0.0,0.0,0.0,0.0,40.0077,-75.1339,Other,None,0.00
55655,2019-12-31,WN,WN,WN,4852,WN,N497WN,4852,13796,OAK,...,0.0,0.0,0.0,0.0,0.0,37.7904,-122.2166,Other,None,0.00
13945,2019-12-31,DL,DL_CODESHARE,DL,4539,OO,N290SY,4539,15376,TUS,...,0.0,0.0,0.0,0.0,0.0,32.1541,-110.8787,Other,None,0.00
55875,2019-12-31,AA,AA_CODESHARE,AA,3043,OO,N719SK,3043,14489,RDM,...,0.0,0.0,0.0,0.0,0.0,44.0563,-121.3095,Fog,Severe,0.00
63816,2019-12-31,WN,WN,WN,4093,WN,N259WN,4093,14107,PHX,...,27.0,0.0,0.0,0.0,0.0,33.5722,-112.0892,Other,None,0.00

In [5]:
df["last_year"] = df["fl_date"] - pd.DateOffset(years=1)

In [5]:
old.columns = [s.lower() for s in old.columns]

In [6]:
old.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 27
0,2017-01-01,AA,1,JFK,LAX,800,831.0,31.0,25.0,856.0,...,402.0,398.0,347.0,2475.0,27.0,0.0,0.0,0.0,0.0,NaN
1,2017-01-01,AA,2,LAX,JFK,900,934.0,34.0,34.0,1008.0,...,327.0,335.0,289.0,2475.0,34.0,0.0,8.0,0.0,0.0,NaN
2,2017-01-01,AA,4,LAX,JFK,1130,1221.0,51.0,20.0,1241.0,...,328.0,319.0,284.0,2475.0,7.0,0.0,0.0,0.0,35.0,NaN
3,2017-01-01,AA,5,DFW,HNL,1135,1252.0,77.0,19.0,1311.0,...,517.0,537.0,513.0,3784.0,77.0,0.0,20.0,0.0,0.0,NaN
4,2017-01-01,AA,6,OGG,DFW,1855,1855.0,0.0,16.0,1911.0,...,425.0,467.0,440.0,3711.0,0.0,0.0,42.0,0.0,0.0,NaN

In [11]:
old.columns

Index(['fl_date', 'op_carrier', 'op_carrier_fl_num', 'origin', 'dest',
       'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
       'cancelled', 'cancellation_code', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'distance', 'carrier_delay',
       'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay',
       'unnamed: 27'],
      dtype='object')

In [40]:
o=old[["op_carrier", "arr_delay", "weather_delay", "nas_delay", "security_delay", "late_aircraft_delay", "carrier_delay"]].groupby("op_carrier").mean().reset_index().rename(columns={"arr_delay": "mean_arr_delay", "weather_delay": "mean_weather_delay", "nas_delay": "mean_nas_delay", "security_delay": "mean_security_delay", "late_aircraft_delay": "mean_late_aircraft_delay", "carrier_delay": "mean_carrier_delay"})

In [41]:
std = old[["op_carrier", "arr_delay", "weather_delay", "nas_delay", "security_delay", "late_aircraft_delay", "carrier_delay"]].groupby("op_carrier").std().reset_index().rename(columns={"arr_delay": "std_arr_delay", "weather_delay": "std_weather_delay", "nas_delay": "std_nas_delay", "security_delay": "std_security_delay", "late_aircraft_delay": "std_late_aircraft_delay", "carrier_delay": "std_carrier_delay"}).drop("op_carrier", axis=1)

In [43]:
o = pd.concat((o, std), axis=1)

In [25]:
df.shape

(99137, 32)

In [44]:
d=df.merge(o, left_on=["mkt_carrier"], right_on=["op_carrier"]).drop(columns=["op_carrier"])

In [45]:
d

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,mean_nas_delay,mean_security_delay,mean_late_aircraft_delay,mean_carrier_delay,std_arr_delay,std_weather_delay,std_nas_delay,std_security_delay,std_late_aircraft_delay,std_carrier_delay
0,2018-04-05,F9,F9,F9,122,F9,N716FR,122,11292,DEN,...,17.634949,0.00000,33.712278,16.150179,48.253185,11.384131,31.143621,0.000000,65.040134,44.023377
1,2019-08-19,F9,F9,F9,707,F9,N335FR,707,12206,HRL,...,17.634949,0.00000,33.712278,16.150179,48.253185,11.384131,31.143621,0.000000,65.040134,44.023377
2,2019-08-27,F9,F9,F9,437,F9,N229FR,437,13342,MKE,...,17.634949,0.00000,33.712278,16.150179,48.253185,11.384131,31.143621,0.000000,65.040134,44.023377
3,2019-10-01,F9,F9,F9,2158,F9,N334FR,2158,12889,LAS,...,17.634949,0.00000,33.712278,16.150179,48.253185,11.384131,31.143621,0.000000,65.040134,44.023377
4,2018-10-19,F9,F9,F9,450,F9,N926FR,450,10792,BUF,...,17.634949,0.00000,33.712278,16.150179,48.253185,11.384131,31.143621,0.000000,65.040134,44.023377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97890,2018-03-06,VX,VX,VX,1387,VX,N640VA,1387,14771,SFO,...,26.507278,0.19954,21.299085,9.473513,42.773900,9.763947,44.135816,5.929699,37.716178,27.169123
97891,2018-03-29,VX,VX,VX,1792,VX,N846VA,1792,14747,SEA,...,26.507278,0.19954,21.299085,9.473513,42.773900,9.763947,44.135816,5.929699,37.716178,27.169123
97892,2018-02-17,VX,VX,VX,1874,VX,N529VA,1874,12892,LAX,...,26.507278,0.19954,21.299085,9.473513,42.773900,9.763947,44.135816,5.929699,37.716178,27.169123
97893,2018-02-20,VX,VX,VX,1914,VX,N365VA,1914,14771,SFO,...,26.507278,0.19954,21.299085,9.473513,42.773900,9.763947,44.135816,5.929699,37.716178,27.169123
97894,2018-02-03,VX,VX,VX,1352,VX,N837VA,1352,14771,SFO,...,26.507278,0.19954,21.299085,9.473513,42.773900,9.763947,44.135816,5.929699,37.716178,27.169123

In [46]:
d.to_csv("../data/cleaned_with_mean_arr_delay.csv", index=False)

In [9]:
old["fl_date"] = pd.to_datetime(old["fl_date"])

In [32]:
s = df.merge(right=df[["fl_date", "arr_delay", "origin", "dest", "mkt_unique_carrier"]], how="inner", left_on=["last_year", "origin", "dest", "mkt_unique_carrier"], right_on=["fl_date", "origin", "dest", "mkt_unique_carrier"], suffixes=["", "_drop"])

In [33]:
s = s.rename(columns={"arr_delay_drop": "arr_delay_last_year"})

In [34]:
s.drop([col for col in s.columns if "drop" in col], axis=1, inplace=True)

In [35]:
s[["fl_date", "last_year", "arr_delay", "arr_delay_last_year"]]

        fl_date  last_year  arr_delay  arr_delay_last_year
0    2019-01-09 2018-01-09      -13.0                 -8.0
1    2019-09-21 2018-09-21      -26.0                -11.0
2    2019-08-02 2018-08-02      -12.0                -10.0
3    2019-11-16 2018-11-16      -21.0                 22.0
4    2019-11-16 2018-11-16      -21.0                -13.0
...         ...        ...        ...                  ...
1437 2019-12-19 2018-12-19        2.0                -20.0
1438 2019-08-09 2018-08-09      -10.0                -13.0
1439 2019-11-20 2018-11-20      -19.0                  1.0
1440 2019-04-27 2018-04-27        7.0                 28.0
1441 2019-01-02 2018-01-02        4.0                  2.0

[1442 rows x 4 columns]

In [36]:
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1442 entries, 0 to 1441
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              1442 non-null   datetime64[ns]
 1   mkt_unique_carrier   1442 non-null   object
 2   branded_code_share   1442 non-null   object
 3   mkt_carrier          1442 non-null   object
 4   mkt_carrier_fl_num   1442 non-null   int64
 5   op_unique_carrier    1442 non-null   object
 6   tail_num             1442 non-null   object
 7   op_carrier_fl_num    1442 non-null   int64
 8   origin_airport_id    1442 non-null   int64
 9   origin               1442 non-null   object
 10  origin_city_name     1442 non-null   object
 11  dest_airport_id      1442 non-null   int64
 12  dest                 1442 non-null   object
 13  dest_city_name       1442 non-null   object
 14  crs_dep_time         1442 non-null   int64
 15  crs_arr_time         1442 non-null   int64
 16  dup                  1442 non-null   object
 17  crs_elapsed_time     1442 non-null   float64
 18  flights              1442 non-null   float64
 19  distance             1442 non-null   float64
 20  arr_delay            1442 non-null   float64
 21  cancelled            1442 non-null   float64
 22  carrier_delay        1442 non-null   float64
 23  weather_delay        1442 non-null   float64
 24  nas_delay            1442 non-null   float64
 25  security_delay       1442 non-null   float64
 26  late_aircraft_delay  1442 non-null   float64
 27  lat                  1442 non-null   float64
 28  lng                  1442 non-null   float64
 29  Type                 1442 non-null   object
 30  Severity             1442 non-null   object
 31  Precipitation(in)    1442 non-null   float64
 32  last_year            1442 non-null   datetime64[ns]
 33  arr_delay_last_year  1442 non-null   float64
dtypes: datetime64[ns](2), float64(14), int64(6), object(12)
memory usage: 394.3+ KB

In [47]:
m = df.merge(old[["fl_date", "origin", "dest", "op_carrier", "arr_delay"]], how="inner", left_on=["last_year", "origin","dest", "op_unique_carrier"], right_on=["fl_date", "origin", "dest","op_carrier"], suffixes=["", "_drop"])

In [48]:
m.shape

(160779, 36)

In [49]:
m = m.rename(columns={"arr_delay_drop": "arr_delay_last_year"})

In [50]:
m = m.drop([col for col in m.columns if "drop" in col], axis=1)

In [61]:
old = m.drop_duplicates(subset=["fl_date", "origin", "dest", "op_unique_carrier"])

In [62]:
old = old.drop(columns=["op_carrier", "dup", "last_year"])

In [63]:
old = old.reset_index(drop=True)

In [64]:
old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32341 entries, 0 to 32340
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              32341 non-null  datetime64[ns]
 1   mkt_unique_carrier   32341 non-null  object
 2   branded_code_share   32341 non-null  object
 3   mkt_carrier          32341 non-null  object
 4   mkt_carrier_fl_num   32341 non-null  int64
 5   op_unique_carrier    32341 non-null  object
 6   tail_num             32341 non-null  object
 7   op_carrier_fl_num    32341 non-null  int64
 8   origin_airport_id    32341 non-null  int64
 9   origin               32341 non-null  object
 10  origin_city_name     32341 non-null  object
 11  dest_airport_id      32341 non-null  int64
 12  dest                 32341 non-null  object
 13  dest_city_name       32341 non-null  object
 14  crs_dep_time         32341 non-null  int64
 15  crs_arr_time         32341 non-null  int64
 16  crs_elapsed_time     32341 non-null  float64
 17  flights              32341 non-null  float64
 18  distance             32341 non-null  float64
 19  arr_delay            32341 non-null  float64
 20  cancelled            32341 non-null  float64
 21  carrier_delay        32341 non-null  float64
 22  weather_delay        32341 non-null  float64
 23  nas_delay            32341 non-null  float64
 24  security_delay       32341 non-null  float64
 25  late_aircraft_delay  32341 non-null  float64
 26  lat                  32341 non-null  float64
 27  lng                  32341 non-null  float64
 28  Type                 32341 non-null  object
 29  Severity             32341 non-null  object
 30  Precipitation(in)    32341 non-null  float64
 31  arr_delay_last_year  31777 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(6), object(11)
memory usage: 7.9+ MB

In [65]:
old = old.fillna(0)

In [66]:
old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32341 entries, 0 to 32340
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              32341 non-null  datetime64[ns]
 1   mkt_unique_carrier   32341 non-null  object
 2   branded_code_share   32341 non-null  object
 3   mkt_carrier          32341 non-null  object
 4   mkt_carrier_fl_num   32341 non-null  int64
 5   op_unique_carrier    32341 non-null  object
 6   tail_num             32341 non-null  object
 7   op_carrier_fl_num    32341 non-null  int64
 8   origin_airport_id    32341 non-null  int64
 9   origin               32341 non-null  object
 10  origin_city_name     32341 non-null  object
 11  dest_airport_id      32341 non-null  int64
 12  dest                 32341 non-null  object
 13  dest_city_name       32341 non-null  object
 14  crs_dep_time         32341 non-null  int64
 15  crs_arr_time         32341 non-null  int64
 16  crs_elapsed_time     32341 non-null  float64
 17  flights              32341 non-null  float64
 18  distance             32341 non-null  float64
 19  arr_delay            32341 non-null  float64
 20  cancelled            32341 non-null  float64
 21  carrier_delay        32341 non-null  float64
 22  weather_delay        32341 non-null  float64
 23  nas_delay            32341 non-null  float64
 24  security_delay       32341 non-null  float64
 25  late_aircraft_delay  32341 non-null  float64
 26  lat                  32341 non-null  float64
 27  lng                  32341 non-null  float64
 28  Type                 32341 non-null  object
 29  Severity             32341 non-null  object
 30  Precipitation(in)    32341 non-null  float64
 31  arr_delay_last_year  32341 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(6), object(11)
memory usage: 7.9+ MB

In [67]:
old.to_csv("../data/flights_with_previous_year_data.csv", index=False)