In [4]:
import pandas as pd

In [32]:
df = pd.read_csv("../data/supervised_flights_test.csv")

In [33]:
df

,fl_date,origin,dest,mkt_carrier,mkt_carrier_fl_num,op_carrier_fl_num,crs_dep_time,crs_arr_time,mean_arr_delay,mean_nas_delay,mean_late_aircraft_delay,Precipitation(in)
0,2020-01-01,TPA,LGA,NK,922,922,1510,1757,6.353358,38.512821,19.538462,0.00
1,2020-01-01,TPA,MCI,WN,4200,4200,1500,1645,3.003049,7.970144,24.408465,0.00
2,2020-01-01,TPA,EWR,UA,743,743,1150,1430,8.931275,21.087053,29.825154,0.00
3,2020-01-01,TPA,RDU,WN,5452,5452,1430,1610,3.003049,7.970144,24.408465,0.00
4,2020-01-01,TPA,MSY,WN,6712,6712,1050,1135,3.003049,7.970144,24.408465,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
106158,2020-01-07,BLI,SEA,AS,2481,2481,1550,1643,0.503512,16.090376,19.495305,0.01
106159,2020-01-07,PUW,SEA,AS,2219,2219,1130,1252,0.503512,16.090376,19.495305,0.00
106160,2020-01-07,PUW,SEA,AS,2219,2219,1130,1252,0.503512,16.090376,19.495305,0.04
106161,2020-01-07,CYS,DFW,AA,3123,3123,1319,1636,6.921379,14.332139,28.202639,0.00
106162,2020-01-07,RHI,MSP,DL,4267,4267,1554,1714,2.012438,17.395239,25.271231,0.00

In [34]:
df.describe()

,mkt_carrier_fl_num,op_carrier_fl_num,crs_dep_time,crs_arr_time,mean_arr_delay,mean_nas_delay,mean_late_aircraft_delay,Precipitation(in)
count,106163.000000,106163.000000,106163.000000,106163.000000,106163.000000,106163.000000,106163.000000,106163.000000
mean,2740.125759,2740.092245,1352.314017,1496.357573,4.386699,16.478951,25.875247,0.169033
std,1767.095022,1767.069312,494.906152,519.718333,3.142376,5.482299,3.196459,0.413652
min,1.000000,1.000000,12.000000,1.000000,0.503512,1.164062,18.054688,0.000000
25%,1259.500000,1259.500000,930.000000,1110.000000,2.012438,14.332139,24.408465,0.000000
50%,2357.000000,2357.000000,1340.000000,1519.000000,3.003049,17.395239,25.271231,0.050000
75%,4216.000000,4216.000000,1750.000000,1922.000000,6.921379,17.395239,28.202639,0.150000
max,6799.000000,6799.000000,2359.000000,2359.000000,11.380304,38.512821,33.538095,3.290000

In [35]:
idx = df[df["mean_nas_delay"] > 31].index
df = df.drop(index=idx)

In [36]:
idx = df[df["Precipitation(in)"] > 1.35].index
df = df.drop(index=idx)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100612 entries, 1 to 106162
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   fl_date                   100612 non-null  object
 1   origin                    100612 non-null  object
 2   dest                      100612 non-null  object
 3   mkt_carrier               100612 non-null  object
 4   mkt_carrier_fl_num        100612 non-null  int64
 5   op_carrier_fl_num         100612 non-null  int64
 6   crs_dep_time              100612 non-null  int64
 7   crs_arr_time              100612 non-null  int64
 8   mean_arr_delay            100612 non-null  float64
 9   mean_nas_delay            100612 non-null  float64
 10  mean_late_aircraft_delay  100612 non-null  float64
 11  Precipitation(in)         100612 non-null  float64
dtypes: float64(4), int64(4), object(4)
memory usage: 10.0+ MB

In [38]:
df.describe()

,mkt_carrier_fl_num,op_carrier_fl_num,crs_dep_time,crs_arr_time,mean_arr_delay,mean_nas_delay,mean_late_aircraft_delay,Precipitation(in)
count,100612.000000,100612.000000,100612.000000,100612.000000,100612.000000,100612.000000,100612.000000,100612.000000
mean,2805.911223,2805.875860,1351.242138,1496.446935,4.350466,15.778432,26.079123,0.111955
std,1760.265680,1760.239768,494.144859,518.393145,3.181834,3.918435,3.060640,0.161393
min,1.000000,1.000000,12.000000,1.000000,0.503512,1.164062,18.054688,0.000000
25%,1341.000000,1341.000000,930.000000,1110.000000,2.012438,14.332139,25.271231,0.000000
50%,2411.000000,2411.000000,1340.000000,1520.000000,3.003049,17.395239,25.271231,0.040000
75%,4290.000000,4290.000000,1750.000000,1920.000000,6.921379,17.395239,28.202639,0.130000
max,6799.000000,6799.000000,2359.000000,2359.000000,11.380304,21.087053,33.538095,1.270000

In [39]:
df = df.reset_index(drop=True)

In [40]:
df["fl_date"] = pd.to_datetime(df["fl_date"])
df["day_of_week"] = df["fl_date"].dt.dayofweek

In [41]:
df

,fl_date,origin,dest,mkt_carrier,mkt_carrier_fl_num,op_carrier_fl_num,crs_dep_time,crs_arr_time,mean_arr_delay,mean_nas_delay,mean_late_aircraft_delay,Precipitation(in),day_of_week
0,2020-01-01,TPA,MCI,WN,4200,4200,1500,1645,3.003049,7.970144,24.408465,0.00,2
1,2020-01-01,TPA,EWR,UA,743,743,1150,1430,8.931275,21.087053,29.825154,0.00,2
2,2020-01-01,TPA,RDU,WN,5452,5452,1430,1610,3.003049,7.970144,24.408465,0.00,2
3,2020-01-01,TPA,MSY,WN,6712,6712,1050,1135,3.003049,7.970144,24.408465,0.00,2
4,2020-01-01,TPA,ORD,UA,1475,1475,1100,1303,8.931275,21.087053,29.825154,0.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100607,2020-01-07,BLI,SEA,AS,2481,2481,1550,1643,0.503512,16.090376,19.495305,0.01,1
100608,2020-01-07,PUW,SEA,AS,2219,2219,1130,1252,0.503512,16.090376,19.495305,0.00,1
100609,2020-01-07,PUW,SEA,AS,2219,2219,1130,1252,0.503512,16.090376,19.495305,0.04,1
100610,2020-01-07,CYS,DFW,AA,3123,3123,1319,1636,6.921379,14.332139,28.202639,0.00,1
100611,2020-01-07,RHI,MSP,DL,4267,4267,1554,1714,2.012438,17.395239,25.271231,0.00,1

In [42]:
X = df.drop(columns=["fl_date", "origin", "dest", "mkt_carrier"])

In [43]:
from modules.transformation import standard_scale

standard_scale(X, cols=X.columns)

,mkt_carrier_fl_num,op_carrier_fl_num,crs_dep_time,crs_arr_time,mean_arr_delay,mean_nas_delay,mean_late_aircraft_delay,Precipitation(in),day_of_week
0,0.791980,0.792012,0.301042,0.286566,-0.423474,-1.992716,-0.545855,-0.693685,-1.018777
1,-1.171938,-1.171935,-0.407255,-0.128179,1.439683,1.354788,1.223943,-0.693685,-1.018777
2,1.503240,1.503282,0.159383,0.219049,-0.423474,-1.992716,-0.545855,-0.693685,-1.018777
3,2.219045,2.219097,-0.609626,-0.697248,-0.423474,-1.992716,-0.545855,-0.693685,-1.018777
4,-0.756089,-0.756080,-0.508441,-0.373168,1.439683,1.354788,1.223943,-0.693685,-1.018777
...,...,...,...,...,...,...,...,...,...
100607,-0.184582,-0.184564,0.402228,0.282708,-1.209043,0.079610,-2.151135,-0.631724,-1.659605
100608,-0.333424,-0.333408,-0.447730,-0.471550,-1.209043,0.079610,-2.151135,-0.693685,-1.659605
100609,-0.333424,-0.333408,-0.447730,-0.471550,-1.209043,0.079610,-2.151135,-0.445842,-1.659605
100610,0.180138,0.180161,-0.065249,0.269204,0.808001,-0.369101,0.693818,-0.693685,-1.659605
100611,0.830043,0.830075,0.410323,0.419670,-0.734809,0.412618,-0.263963,-0.693685,-1.659605

In [1]:
from modules.models import model_loader

In [2]:
gbr = model_loader.load_model("../data/models/gradient_boosting_regression")

In [44]:
y_pred = gbr.predict(X)

/home/gianluca/anaconda3/envs/bootcamp/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [47]:
s = pd.Series(y_pred, name="predicted_delay")

In [48]:
sample_submission = pd.concat((df, s), axis=1)

In [50]:
s_cols = ["fl_date", "mkt_carrier", "mkt_carrier_fl_num", "origin", "dest", "predicted_delay"]
sample_submission = sample_submission[s_cols]

In [51]:
sample_submission

          fl_date mkt_carrier  mkt_carrier_fl_num origin dest  predicted_delay
0      2020-01-01          WN                4200    TPA  MCI         3.677338
1      2020-01-01          UA                 743    TPA  EWR        -2.206020
2      2020-01-01          WN                5452    TPA  RDU         3.914515
3      2020-01-01          WN                6712    TPA  MSY        -7.431316
4      2020-01-01          UA                1475    TPA  ORD        -2.164860
...           ...         ...                 ...    ...  ...              ...
100607 2020-01-07          AS                2481    BLI  SEA         4.752960
100608 2020-01-07          AS                2219    PUW  SEA         1.076297
100609 2020-01-07          AS                2219    PUW  SEA         1.195651
100610 2020-01-07          AA                3123    CYS  DFW         8.778501
100611 2020-01-07          DL                4267    RHI  MSP         6.675490

[100612 rows x 6 columns]

In [52]:
sample_submission.to_csv("../data/submission.csv", index=False)